html, body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans serif";
    font-weight: 100;
    font-size: 48px;
    margin-top: 25px;
    margin-bottom: 0;
}

.game-container {
    text-align: center;
}

canvas {
    margin-top: 25px;
    border: 1px solid black;
}